* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #e0e0e0;
    overflow-x: hidden;
    user-select: none;
}

.border {
    background-image: linear-gradient(to right, red, yellow, green, blue, indigo, violet);
    height: 2px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1001;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
}

.header .logo {
    font-family: "Protest Strike", sans-serif;
    font-size: 30px;
}

.logo {
    color: #e0e0e0;
    font-size: 24px;
    flex: 1;
    text-align: center;
}

.add-button,
.delete-button {
    background: none;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 20px; /* Atur ukuran ikon di sini */
}

.add-button .fa-square-plus,
.delete-button .fa-trash-can {
    font-size: inherit;
}

.add-button {
    margin-right: 4px;
}

.add-button:hover,
.delete-button:hover {
    opacity: 0.8;
}

.content {
    padding: 20px;
    margin-top: 40px;
    min-height: calc(100vh - 120px); 
}

.project-card {
    position: relative;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #1e1e1e;
    border-radius: 10px;
}

.project-card h3 {
    margin: 0;
    font-size: 20px;
    color: #e0e0e0;
    font-weight: bold;
    text-align: left;
}

.project-card .status {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #b0b0b0;
    padding: 5px;
    border-radius: 5px;
}

.project-card p {
    font-size: 16px;
    color: #b0b0b0;
    margin: 2px 0;
    line-height: 1.5;
}

.button-container {
    font-size: 0;
}

.link-button {
    background-color: #007BFF;
    color: #e0e0e0;
    border: none;
    padding: 6px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: #0056b3;
}

.link-button span,
.link-button i {
    margin-right: 6px;
}

.category {
    background-color: rgba(200, 200, 200, 0.4);
    color: #e0e0e0;
    padding: 3px 6px;
    border-radius: 5px;
    display: inline-block;
    margin: 4px 5px 0 0;
}

.category-section {
    margin-bottom: 2px;
}

.link-section {
    display: flex;
    gap: 10px;
}

.status-icon {
    font-size: 20px;
    border-radius: 50%;
    padding: 4px;
}

.status-belum {
    color: rgba(255, 235, 59, 0.8); 
}

.status-selesai {
    color: #4a90e2;
}

.footer {
    background-color: #000000;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.social-icons {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #3498db;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1002;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu-hover-fill {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
    padding-left: 20px;
}

.menu-hover-fill li {
    position: relative;
    padding-left: 20px;
    margin: 20px 0;
}

.menu-hover-fill li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #3498db; 
    transition: 0.3s;
}

.menu-hover-fill li.menu-social::before {
    background-color: #3498db; /* Galxe */
}

.menu-hover-fill li.menu-retro::before {
    background-color: #e67e22; /* Retro */
}

.menu-hover-fill li.menu-testnet::before {
    background-color: #2ecc71; /* Testnet */
}

.menu-hover-fill li.menu-telegram::before {
    background-color: #9b59b6; /* Telegram */
}

.menu-hover-fill li a {
    color: #818181;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 18px;
}

.menu-hover-fill li:hover::before {
    background-color: #f1c40f; 
}

.menu-hover-fill li:hover a {
    color: #f1f1f1; 
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1e1e1e;
    align-items: center;
}

.menu-button {
    background: none;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 20px;
}

.menu-button:hover {
    opacity: 0.8;
}

.sidenav a {
    padding: 8px;
    display: block;
    text-align: left;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}