<!-- Footer -->
<footer class="footer">
    <div class="social-icons">
        <a href="https://github.com/synthinks-og" target="_blank"><i class="fab fa-github fa-spin"></i></a>
        <a href="https://twitter.com/synthinks" target="_blank"><i class="fab fa-twitter fa-spin"></i></a>
        <a href="https://t.me/synthinks" target="_blank"><i class="fab fa-telegram fa-spin"></i></a>
        <a href="https://instagram.com/synthinks_" target="_blank"><i class="fab fa-instagram fa-spin"></i></a>
    </div>
   <div class="footer-text">Source By @Synthinks</div>
</footer>